<p id="notice"><%= notice %></p>

<h1><%= @room.slug %></h1>

<%= link_to "New Topic", new_room_topic_path(@room), class: 'btn btn-lg btn-default'%>
<table class='table table-hover'>
  <% @room.topics.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= link_to(pluralize(topic.responses.count, 'response'), topic_path(topic)) %></td>
    </tr>
  <% end %>
</table>