<!DOCTYPE html>
<html>
<head>
  <title>Whisper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag bootstrap_css %>
  <%= stylesheet_link_tag bootstrap_theme_css %>
  <%= javascript_include_tag jquery_js %>
  <%= javascript_include_tag bootstrap_js %>
  <%= javascript_include_tag standard_markdown_js %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <%= yield %>  
</div>

</body>
</html>
